*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
*.class

# Android
/app/build/

# Signing
*.jks
*.keystore

# Secrets
secrets.properties

# Local temp gradle distribution
gradle-8.10.2/
